html {
  font-family: monospace;
  font-size: 15px;
}
body {
  padding: 10px;
  background: rgb(30, 32, 33);
  color: #f4f4f4;
}

.container {
  max-width: 1024px;
  display: block;
}

a {
  color: #05a8f7;
  text-decoration: none;
  font-size: 16px;
}
a:hover {
  text-decoration: underline;
}

pre {
  border: 1px solid #f4f4f4;
  padding: 15px;
  color: #05829b;
  background: rgba(255, 255, 255, 0.05);
  max-height: 400px;
  overflow-y: auto;
}

footer {
  margin-top: 10px;
  color: #f4f4f4;
  padding: 5px 0;
}

input[type="text"],
input[type="datetime-local"],
button {
  padding: 8px 12px;
  font-size: 14px;
  font-family: monospace;
  border-radius: 0;
  border-color: #05a8f7;
  border-style: solid;
  margin-bottom: 20px;
}

button {
  background-color: #05a8f7;
  color: #f4f4f4;
}

table {
  table-layout: auto;
  width: 100%;
  border: 1px solid #f4f4f4;
  border-collapse: collapse;
  margin-bottom: 20px;
}
table th {
  text-align: left;
  padding: 10px;
  font-weight: bold;
  border: 1px solid #f4f4f4;
}
table td {
  padding: 5px;
  border: 1px solid #444444;
}

table tr.next-show {
  color: #00ffaa;
}

table tr.next-show .label {
  display: inline-block;
  margin-left: 0px;
  background: #00ffaa;
  border-radius: 10px;
  color: rgb(22, 22, 23);
  padding: 1px 5px;
  font-size: 12px;
}

iframe {
  margin-bottom: 30px;
}
